name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:


concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  Build:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
    runs-on: ${{ matrix.os }}-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Check the simulations on CI
        uses: DanySK/build-check-deploy-gradle-action@2.0.2
        with:
          check-command: ./gradlew runAll
          should-run-codecov: false
      - uses: actions/setup-python@v4
        with:
          python-version-file: '.python-version' # Read python version from a file
      - name: Install requirements
        run: python -m pip install -r requirements.txt
      - name: Produce plots
        run: python plotter.py plots/helloworld.yml ./build/exports/helloScafi ".*" "result" plots/
