name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:


concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  Build:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
    runs-on: ${{ matrix.os }}-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Check the simulations on CI
        uses: DanySK/build-check-deploy-gradle-action@2.1.26
        with:
          check-command: ./gradlew runAll || ./gradlew runAll || ./gradlew runAll
          should-run-codecov: false
      - uses: actions/setup-python@v4
        with:
          python-version-file: '.python-version' # Read python version from a file
      - name: Install requirements
        run: python -m pip install -r requirements.txt
      - name: Produce plots
        run: python plotter.py plots/helloScafi.yml ./build/exports/helloScafi ".*" "result" plots/
  UpdateDoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          ref: ${{ github.head_ref }}
      - name: Update readme
        run: npx embedme README.md
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: autoupdate readme from scripts changes"
  ci-success:
    runs-on: ubuntu-latest
    needs:
      - Build
      - UpdateDoc
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}